@model SolicitudAdopcion
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="shadow-lg border p-5 bg-white rounded col-lg-10 mx-auto">
    @if (Model == null)
    {
        <h3 class="mb-3"><b>FORMULARIO DE ADOPCION</b></h3>
        <form asp-action="CreateSolicitudAdopcion" autocomplete="off" onsubmit="return showFormAux(this);" method="post">
            <div class="form-row">
                <input type="hidden" asp-for="@Model.MascotaId" value="@TempData["MascotaId"]" />
                <div class="form-group col-12">
                    <label for="idNombres">Ingresa tu(s) Nombre(s):</label>
                    <input type="text" id="idNombres" class="form-control" asp-for="@Model.Nombres" placeholder="Ingresa tu(s) Nombre(s)" />
                    @Html.ValidationMessageFor(x => x.Nombres, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idApellidos">Ingresa tu(s) Apellido(s):</label>
                    <input type="text" id="idApellidos" class="form-control" asp-for="@Model.Apellidos" placeholder="Ingresa tu(s) Apellido(s)" />
                    @Html.ValidationMessageFor(x => x.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xl-6">
                    <label for="idCi">Ingresa tu Carnet de Identidad:</label>
                    <input type="text" id="idCi" class="form-control" asp-for="@Model.Ci" placeholder="Ingresa tu Carnet de Identidad" />
                    @Html.ValidationMessageFor(x => x.Ci, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xl-6">
                    <label for="idNumero">Ingresa tu N&uacute;mero de Celular/Telefono:</label>
                    <input type="text" id="idNumero" class="form-control" asp-for="@Model.NumeroCelular" placeholder="Ingresa tu Numero de Celular/Telefono" />
                    @Html.ValidationMessageFor(x => x.NumeroCelular, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idDomicilio">Ingresa tu Domicilio:</label>
                    <textarea id="idDomicilio" class="form-control" asp-for="@Model.Domicilio" placeholder="Ingresa tu Domicilio"></textarea>
                    @Html.ValidationMessageFor(x => x.Domicilio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP1">Pregunta 1:</label>
                    <p>¿Cu&aacute;l es la raz&oacute;n por la que quieres adoptar?</p>
                    <textarea id="idP1" class="form-control" asp-for="@Model.Respuesta1" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta1, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP2">Pregunta 2:</label>
                    <p>
                        Una nueva mascota es una gran responsabilidad que tendras por varios a&ntilde;os, ¿Est&aacute;s seguro de que
                        la cuidar&aacute;s durante todo ese tiempo?
                    </p>
                    <textarea id="idP2" class="form-control" asp-for="@Model.Respuesta2" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta2, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP3">Pregunta 3:</label>
                    <p>
                        ¿Est&aacute;s de acuerdo a enviarnos fotos de la mascota, y a recibir visitas cada cierto tiempo
                        para asegurarnos de que la mascota est&aacute; siendo bien cuidada?
                    </p>
                    <textarea id="idP3" class="form-control" asp-for="@Model.Respuesta3" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta3, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP4">Pregunta 4:</label>
                    <p>
                        ¿Est&aacute;s consciente de que si la mascota no esta siendo bien cuidada o evitas enviarnos fotos o
                        recibir las visitas de los voluntarios, deber&aacute;s entregar voluntariamente a la mascota?
                    </p>
                    <textarea id="idP4" class="form-control" asp-for="@Model.Respuesta4" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta4, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP5">Pregunta 5:</label>
                    <p>
                        ¿Est&aacute;s consciente de que tener una mascota implica nuevos gastos, vacunas, medicinas o atenci&oacute;n
                        veterinaria cuando enferme?
                    </p>
                    <textarea id="idP5" class="form-control" asp-for="@Model.Respuesta5" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta5, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP6">Pregunta 6:</label>
                    <p>
                        ¿Est&aacute;s consciente que la adopci&oacute;n es personal? Lo cual significa que no puedes regalar o
                        vender a la mascota.
                    </p>
                    <textarea id="idP6" class="form-control" asp-for="@Model.Respuesta6" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta6, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idP1">Pregunta 7:</label>
                    <p>¿Vives en una casa, departamento propio o en alquiler?</p>
                    <textarea id="idP7" class="form-control" asp-for="@Model.Respuesta7" placeholder="Ingresa tu Respuesta"></textarea>
                    @Html.ValidationMessageFor(x => x.Respuesta7, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar Datos</button>
            </div>
        </form>
        <script type="text/javascript">
            var _0x4889 = ['oldSelectionEnd', '40286UvCLkJ', 'oldValue', '4431834mYKRHt', 'select', 'mouseup', '1176022UAfJTs', 'value', '37VfFQjT', 'forEach', 'idCi', 'test', 'input', 'setSelectionRange', '1089673mgXqHj', 'hasOwnProperty', 'oldSelectionStart', 'getElementById', '1083522XptqAv', 'keyup', 'selectionEnd', 'addEventListener', 'mousedown', '502683eExqVq', '704195rvnyFv', 'contextmenu']; function _0xd1d2(_0x4dac54, _0x86f39) { return _0xd1d2 = function (_0x48898b, _0xd1d225) { _0x48898b = _0x48898b - 0x14a; var _0x3b744c = _0x4889[_0x48898b]; return _0x3b744c; }, _0xd1d2(_0x4dac54, _0x86f39); } var _0x4d4166 = _0xd1d2; (function (_0x1be0d6, _0x29e838) { var _0x3b3663 = _0xd1d2; while (!![]) { try { var _0x1c2d41 = -parseInt(_0x3b3663(0x160)) + -parseInt(_0x3b3663(0x15b)) * parseInt(_0x3b3663(0x162)) + -parseInt(_0x3b3663(0x152)) + parseInt(_0x3b3663(0x157)) + parseInt(_0x3b3663(0x158)) + -parseInt(_0x3b3663(0x14e)) + parseInt(_0x3b3663(0x15d)); if (_0x1c2d41 === _0x29e838) break; else _0x1be0d6['push'](_0x1be0d6['shift']()); } catch (_0x4c0fd7) { _0x1be0d6['push'](_0x1be0d6['shift']()); } } }(_0x4889, 0xc30c1)); function setInputFilter(_0x595d25, _0x49945a) { var _0x2ea428 = _0xd1d2;[_0x2ea428(0x14c), 'keydown', _0x2ea428(0x153), _0x2ea428(0x156), _0x2ea428(0x15f), _0x2ea428(0x15e), _0x2ea428(0x159), 'drop'][_0x2ea428(0x163)](function (_0x7b1570) { var _0x3cd66c = _0x2ea428; _0x595d25[_0x3cd66c(0x155)](_0x7b1570, function () { var _0x4b7901 = _0x3cd66c; if (_0x49945a(this[_0x4b7901(0x161)])) this['oldValue'] = this['value'], this['oldSelectionStart'] = this['selectionStart'], this[_0x4b7901(0x15a)] = this[_0x4b7901(0x154)]; else this[_0x4b7901(0x14f)](_0x4b7901(0x15c)) ? (this[_0x4b7901(0x161)] = this[_0x4b7901(0x15c)], this[_0x4b7901(0x14d)](this[_0x4b7901(0x150)], this[_0x4b7901(0x15a)])) : this[_0x4b7901(0x161)] = ''; }); }); } setInputFilter(document[_0x4d4166(0x151)](_0x4d4166(0x14a)), function (_0x20e344) { var _0x2320b5 = _0x4d4166; return /^-?\d*$/[_0x2320b5(0x14b)](_0x20e344); }), setInputFilter(document[_0x4d4166(0x151)]('idNumero'), function (_0x157701) { return /^-?\d*$/['test'](_0x157701); });
        </script>
    }
    else
    {
        <p class="text-center">
            No se puede visualizar el contenido.
        </p>
        <div class="col-md-12 text-center">
            <a role="button" class="btn btn-primary" href="@Url.Action("Inicio","Adopciones", new { area=""})">Volver a Inicio</a>
        </div>
    }
</div>