@model SolicitudAdopcion
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="shadow-lg border px-sm-3 px-md-5 py-5 bg-white rounded col-lg-10 mx-auto">
    @if (Model != null)
    {
        <h3><b>FORMULARIO DE ADOPCION</b></h3>
        <p>Para poder adoptar deber&aacute; llenar el formulario y tomar en cuenta lo siguiente:</p>
        <ul>
            <li>Deber&aacute; ser mayor de edad.</li>
            <li>Deber&aacute; contar con una casa propia y cerrada.</li>
            <li>Deber&aacute; presentar una fotocopia de su carnet de identidad y factura de agua o luz.</li>
            <li>Deber&aacute; firmar el contrato de adopci&oacute;n f&iacute;sico y aceptar el seguimiento a la mascota.</li>
        </ul>
        <form asp-action="CreateSolicitudAdopcion" autocomplete="off" onsubmit="return showFormAux(this);" method="post">
            <div class="form-row">
                <input type="hidden" asp-for="@Model.MascotaId" value="@TempData["MascotaId"]" />
                <div class="form-group col-12">
                    <label for="idNombres">Ingresa tu Nombre Completo:</label>
                    <input type="text" id="idNombres" class="form-control" asp-for="@Model.NombreCompleto" placeholder="Ingresa tu(s) Nombre(s)" />
                    @Html.ValidationMessageFor(x => x.NombreCompleto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xl-6">
                    <label for="idNumero">Ingresa tu N&uacute;mero de Celular/Telefono:</label>
                    <input type="text" id="idNumero" class="form-control" asp-for="@Model.Telefono" placeholder="Ingresa tu Numero de Celular/Telefono" />
                    @Html.ValidationMessageFor(x => x.Telefono, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <label for="idDomicilio">Ingresa tu Domicilio:</label>
                    <textarea id="idDomicilio" class="form-control" asp-for="@Model.Domicilio" placeholder="Ingresa tu Domicilio"></textarea>
                    @Html.ValidationMessageFor(x => x.Domicilio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12">
                    <p>
                        <text class="font-weight-bold">Pregunta 1:</text>
                        Una nueva mascota es una gran responsabilidad que tendras por varios a&ntilde;os, ¿Est&aacute;s seguro de que
                        la cuidar&aacute;s durante todo ese tiempo?
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <p>
                        <text class="font-weight-bold">Pregunta 2:</text>
                        ¿Est&aacute;s de acuerdo a enviarnos fotos de la mascota, y a recibir visitas cada cierto tiempo
                        para asegurarnos de que la mascota est&aacute; siendo bien cuidada?
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <p>
                        <text class="font-weight-bold">Pregunta 3:</text>
                        ¿Est&aacute;s consciente de que si la mascota no esta siendo bien cuidada o evitas enviarnos fotos o
                        recibir las visitas de los voluntarios, deber&aacute;s entregar voluntariamente a la mascota?
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <p>
                        <text class="font-weight-bold">Pregunta 4:</text>
                        ¿Est&aacute;s consciente de que tener una mascota implica nuevos gastos, vacunas, medicinas o atenci&oacute;n
                        veterinaria cuando enferme?
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <p>
                        <text class="font-weight-bold">Pregunta 5:</text>
                        ¿Est&aacute;s consciente que la adopci&oacute;n es personal? Lo cual significa que no puedes regalar o
                        vender a la mascota.
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar Datos</button>
            </div>
        </form>
        <script type="text/javascript">
            var _0x44a586 = _0x40b1; (function (_0x5460b3, _0x1d59c1) { var _0x23eacd = _0x40b1, _0x4abfa4 = _0x5460b3(); while (!![]) { try { var _0x514269 = -parseInt(_0x23eacd(0x1d7)) / 0x1 * (parseInt(_0x23eacd(0x1d9)) / 0x2) + parseInt(_0x23eacd(0x1ee)) / 0x3 * (-parseInt(_0x23eacd(0x1dd)) / 0x4) + -parseInt(_0x23eacd(0x1e2)) / 0x5 * (-parseInt(_0x23eacd(0x1df)) / 0x6) + -parseInt(_0x23eacd(0x1ec)) / 0x7 * (parseInt(_0x23eacd(0x1eb)) / 0x8) + -parseInt(_0x23eacd(0x1db)) / 0x9 + parseInt(_0x23eacd(0x1de)) / 0xa * (-parseInt(_0x23eacd(0x1dc)) / 0xb) + -parseInt(_0x23eacd(0x1e1)) / 0xc * (-parseInt(_0x23eacd(0x1f5)) / 0xd); if (_0x514269 === _0x1d59c1) break; else _0x4abfa4['push'](_0x4abfa4['shift']()); } catch (_0x3bc1bc) { _0x4abfa4['push'](_0x4abfa4['shift']()); } } }(_0x1a29, 0x47443)); var defaultRangeValidator = $[_0x44a586(0x1e3)]['methods'][_0x44a586(0x1e6)]; $[_0x44a586(0x1e3)][_0x44a586(0x1d4)][_0x44a586(0x1e6)] = function (_0x281783, _0x7ef32b, _0x51ecef) { var _0x4c1476 = _0x44a586; return _0x7ef32b[_0x4c1476(0x1e5)] === 'checkbox' ? _0x7ef32b[_0x4c1476(0x1ef)] : defaultRangeValidator[_0x4c1476(0x1e4)](this, _0x281783, _0x7ef32b, _0x51ecef); }; function _0x1a29() { var _0x4bbfe0 = ['methods', 'input', 'keydown', '17063jgheZI', 'oldSelectionEnd', '50vOkpsK', 'test', '2657367OoTqZO', '33979DDMdEy', '84564SpHLDX', '490vHvIVe', '66HltLRz', 'mousedown', '21492whLBtL', '76435uiaKIV', 'validator', 'call', 'type', 'range', 'getElementById', 'setSelectionRange', 'oldSelectionStart', 'drop', '638344TWhwpw', '7IqvXfK', 'addEventListener', '3qvBNps', 'checked', 'oldValue', 'selectionEnd', 'hasOwnProperty', 'value', 'select', '7969EaWZHy']; _0x1a29 = function () { return _0x4bbfe0; }; return _0x1a29(); } function setInputFilter(_0x5bc775, _0x306604) { var _0x374058 = _0x44a586;[_0x374058(0x1d5), _0x374058(0x1d6), 'keyup', _0x374058(0x1e0), 'mouseup', _0x374058(0x1f4), 'contextmenu', _0x374058(0x1ea)]['forEach'](function (_0xc92ec2) { var _0x598c5c = _0x374058; _0x5bc775[_0x598c5c(0x1ed)](_0xc92ec2, function () { var _0x4a839d = _0x598c5c; if (_0x306604(this[_0x4a839d(0x1f3)])) this['oldValue'] = this[_0x4a839d(0x1f3)], this['oldSelectionStart'] = this['selectionStart'], this['oldSelectionEnd'] = this[_0x4a839d(0x1f1)]; else this[_0x4a839d(0x1f2)]('oldValue') ? (this[_0x4a839d(0x1f3)] = this[_0x4a839d(0x1f0)], this[_0x4a839d(0x1e8)](this[_0x4a839d(0x1e9)], this[_0x4a839d(0x1d8)])) : this[_0x4a839d(0x1f3)] = ''; }); }); } function _0x40b1(_0x424bd2, _0x32a6e9) { var _0x1a297c = _0x1a29(); return _0x40b1 = function (_0x40b185, _0x27d2f8) { _0x40b185 = _0x40b185 - 0x1d4; var _0x2e3d16 = _0x1a297c[_0x40b185]; return _0x2e3d16; }, _0x40b1(_0x424bd2, _0x32a6e9); } setInputFilter(document[_0x44a586(0x1e7)]('idNumero'), function (_0x4c2f23) { var _0x2eeb5e = _0x44a586; return /^-?\d*$/[_0x2eeb5e(0x1da)](_0x4c2f23); });
        </script>
    }
    else
    {
        <p class="text-center">
            No se puede visualizar el contenido.
        </p>
        <div class="col-md-12 text-center">
            <a role="button" class="btn btn-primary" href="@Url.Action("Inicio","Adopciones", new { area=""})">Volver a Inicio</a>
        </div>
    }
</div>