@model List<Mascota>
<style>
    img {
        max-width: 100% !important;
        height: 350px;
        margin: 0 auto;
        display: block;
    }
    .card-img-top {
        height: 100%;
        background-color: #036917;
    }
</style>
<div class="d-xl-flex justify-content-between my-3">
    <form class="form-inline" method="post" asp-action="ReturnVista" onsubmit="return send(this);">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="selectCantidad">Filtro:</label>
            </div>
            <select id="selectCantidad" name="filter" class="custom-select dropdown-toggle mr-3">
                @if (ViewData["filter"].ToString() == "All")
                {
                    <option value="Adopcion">En Adopcion</option>
                    <option value="All" selected="selected">Todos</option>
                }
                else
                {
                    <option value="Adopcion" selected="selected">En Adopcion</option>
                    <option value="All">Todos</option>
                }
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="selectCantidad">Cantidad:</label>
            </div>
            <select id="cantidad" name="sizePage" class="custom-select dropdown-toggle mr-3">
                @if (int.Parse(ViewData["itemsPerPage"].ToString()) == 5)
                {
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 10)
                {
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 20)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20" selected>20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 50)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 100)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100" selected>100</option>
                }
            </select>
        </div>
        <button id="resetear" type="submit" class="btn btn-primary">Reiniciar</button>
    </form>
</div>

@if (Model.Count() <= 0)
{
    <div class="row mt-5">
        <h3 class="mx-auto">No hay elementos para mostrar.</h3>
    </div>
}
<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-6 col-xl-4 mb-4">
            <div class="card border-0 shadow mx-auto rounded">
                <div class="card-img-top">
                    <a class="text-decoration-none lead text-success font-weight-bold" href="@Url.Action("InformacionMascota", "Adopciones",new { id=item.Id, area=""},Context.Request.Scheme)">
                        @if (item.Foto == null)
                        {
                            <img alt="@item.Nombre" src="https://res.cloudinary.com/dfgd6kc8v/image/upload/v1643849629/spat_gvfgem.jpg" class="rounded-top" />
                        }
                        else
                        {
                            <img alt="@item.Nombre" src="@item.Foto.Url" class="rounded-top" />
                        }
                        <div class="card-body text-center bg-white">
                            <p class="card-text">@item.Nombre</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<nav class="table-responsive">
    <form asp-action="ReturnVista" method="post" onsubmit="return send(this);">
        <input type="hidden" name="sizePage" value="@ViewData["itemsPerPage"]" />
        <input type="hidden" name="filter" value="@ViewData["filter"]" />
        <input type="hidden" name="currentPage" />
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (int.Parse(ViewData["currentPage"].ToString()) > 1)
            {
                <li class="page-item">
                    <button class="page-link" value="1" onclick="GetValueButton(this.value)">Primer</button>
                </li>
                <li class="page-item">
                    @{ int p = int.Parse(ViewData["currentPage"].ToString()) - 1;}
                    <button class="page-link" value="@p" onclick="GetValueButton(this.value)">Anterior</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">Primer<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">Anterior<span class="sr-only"></span></button>
                </li>
            }

            @for (var pagina = 1; pagina <= int.Parse(ViewData["totalPages"].ToString()); pagina++)
            {
                <li class="page-item @(pagina == int.Parse(ViewData["currentPage"].ToString()) ? "active" : "")">
                    @if (pagina == int.Parse(ViewData["currentPage"].ToString()))
                    {
                        <button type="button" class="page-link" value="@pagina" role="button">@(pagina)<span class="sr-only"></span></button>
                    }
                    else
                    {
                        <button class="page-link" value="@pagina" onclick="GetValueButton(this.value)">@(pagina)</button>
                    }
                </li>
            }

            @if (int.Parse(ViewData["currentPage"].ToString()) < int.Parse(ViewData["totalPages"].ToString()))
            {
                <li class="page-item">
                    @{int n = int.Parse(ViewData["currentPage"].ToString()) + 1;}
                    <button class="page-link" value="@n" onclick="GetValueButton(this.value)">Siguiente</button>
                </li>
                <li class="page-item">
                    <button class="page-link" value="@ViewData["totalPages"]" onclick="GetValueButton(this.value)">&Uacute;ltimo</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">Siguiente<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">&Uacute;ltimo<span class="sr-only"></span></button>
                </li>
            }
        </ul>
    </form>
</nav>
<script>
    var _0x497f = ['928198ohiQLW', 'href', 'click', '1CdYDct', '#resetear', '574996mCpGVA', 'val', '5sZKDga', 'change', '1NlIOWe', '[name=\x27currentPage\x27]', '354BDBljA', 'ajax', 'fail', '414049FGbMoA', 'html', '4390OPPnfC', '#view-all', 'location', '1CkPVkd', 'POST', 'form', '/Error/', 'Adopcion', 'select', 'action', '1267534kIEdUH', '1413727gSEPGa', 'status', '207240wfvTzQ']; function _0x5819(_0x49059f, _0x26ee5f) { return _0x5819 = function (_0x497fab, _0x581931) { _0x497fab = _0x497fab - 0xaf; var _0x1413ea = _0x497f[_0x497fab]; return _0x1413ea; }, _0x5819(_0x49059f, _0x26ee5f); } var _0x2705fb = _0x5819; (function (_0x23e503, _0x599ca8) { var _0x5ab7e6 = _0x5819; while (!![]) { try { var _0x1ab804 = parseInt(_0x5ab7e6(0xc2)) + parseInt(_0x5ab7e6(0xbf)) * parseInt(_0x5ab7e6(0xc6)) + parseInt(_0x5ab7e6(0xc0)) * -parseInt(_0x5ab7e6(0xcc)) + parseInt(_0x5ab7e6(0xc3)) * parseInt(_0x5ab7e6(0xb8)) + parseInt(_0x5ab7e6(0xb5)) * -parseInt(_0x5ab7e6(0xb0)) + -parseInt(_0x5ab7e6(0xc8)) + parseInt(_0x5ab7e6(0xca)) * parseInt(_0x5ab7e6(0xb3)); if (_0x1ab804 === _0x599ca8) break; else _0x23e503['push'](_0x23e503['shift']()); } catch (_0x569530) { _0x23e503['push'](_0x23e503['shift']()); } } }(_0x497f, 0xe3282)); function GetValueButton(_0x165dc4) { var _0xd3a924 = _0x5819; $(_0xd3a924(0xaf))[_0xd3a924(0xc9)](_0x165dc4); } $(_0x2705fb(0xc7))['on'](_0x2705fb(0xc5), function () { var _0x69f890 = _0x2705fb; $('select[name=\x27filter\x27]\x20option')[_0x69f890(0xc9)](_0x69f890(0xbc)), $('select[name=\x27sizePage\x27]\x20option')['val']('10'); }), $(_0x2705fb(0xbd))['on'](_0x2705fb(0xcb), function () { var _0x22d8c6 = _0x2705fb; $[_0x22d8c6(0xb1)]({ 'type': _0x22d8c6(0xb9), 'url': this[_0x22d8c6(0xba)][_0x22d8c6(0xbe)], 'data': new FormData(this['form']), 'contentType': ![], 'processData': ![], 'success': function (_0x41b6c1) { var _0xa34263 = _0x22d8c6; $(_0xa34263(0xb6))[_0xa34263(0xb4)](_0x41b6c1); } })[_0x22d8c6(0xb2)](function (_0x5e0ba9, _0x533a31, _0x30750c) { var _0x388a4f = _0x22d8c6; window['location'][_0x388a4f(0xc4)] = _0x388a4f(0xbb) + _0x5e0ba9[_0x388a4f(0xc1)]; }); }), send = _0x29b133 => { var _0x10c24e = _0x2705fb; return $['ajax']({ 'type': _0x10c24e(0xb9), 'url': _0x29b133[_0x10c24e(0xbe)], 'data': new FormData(_0x29b133), 'contentType': ![], 'processData': ![], 'success': function (_0x7f71a4) { var _0x1bb787 = _0x10c24e; $(_0x1bb787(0xb6))[_0x1bb787(0xb4)](_0x7f71a4); } })[_0x10c24e(0xb2)](function (_0x22a51b, _0x55a8af, _0x49e554) { var _0x3c2574 = _0x10c24e; window[_0x3c2574(0xb7)][_0x3c2574(0xc4)] = '/Error/' + _0x22a51b[_0x3c2574(0xc1)]; }), ![]; };
</script>