@model Seguimiento
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="UpdateFechaSeguimiento" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" method="post">
    <div class="form-row">
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        <input id="inicial" value="@Model.FechaInicio.ToShortDateString()" type="hidden" name="RangoFechas[]" />
        <input id="final" value="@Model.FechaFin.ToShortDateString()" type="hidden" name="RangoFechas[]" />
        <div class="form-group mb-5 col-md-6">
            <label for="idDateRange">Ingrese el rango de fechas del seguimiento:</label>
            <input id="idDateRange" type="text" placeholder="Rangos de Fecha" aria-label="Rangos de Fecha" class="form-control" readonly>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);

    $('#idDateRange').daterangepicker({
        "autoApply": true,
        "showDropdowns": true,
        "minYear": 2020,
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Dom",
                "Lun",
                "Mar",
                "Mie",
                "Jue",
                "Vie",
                "Sab"
            ],
            "monthNames": [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Septiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
            ],
            "firstDay": 1
        },
        "startDate": "@Model.FechaInicio.ToShortDateString()",
        "endDate": "@Model.FechaFin.ToShortDateString()",
        "opens": "center"
    });
    var _0x58d1 = ['1398299mKaWKK', '1116393QUHdZB', '1eLdSBO', '39681FleHww', 'val', '1732cvqrLa', '227177PDNCfz', '1008628OESBXf', '1023803ECWFmL', '#final', '1JSWXpz', 'change', '#idDateRange', '1pEMUcH', 'split', '11LPmBzs', '438VWxYQd']; var _0x438109 = _0x3cb3; function _0x3cb3(_0x3b4494, _0x166e86) { return _0x3cb3 = function (_0x58d1ef, _0x3cb3c7) { _0x58d1ef = _0x58d1ef - 0x15d; var _0x2987df = _0x58d1[_0x58d1ef]; return _0x2987df; }, _0x3cb3(_0x3b4494, _0x166e86); } (function (_0x2edf23, _0x2f7ad4) { var _0x141eab = _0x3cb3; while (!![]) { try { var _0xaffe7c = parseInt(_0x141eab(0x160)) * parseInt(_0x141eab(0x16b)) + parseInt(_0x141eab(0x165)) * -parseInt(_0x141eab(0x163)) + parseInt(_0x141eab(0x16c)) * parseInt(_0x141eab(0x15d)) + parseInt(_0x141eab(0x162)) + -parseInt(_0x141eab(0x16d)) + -parseInt(_0x141eab(0x15e)) * parseInt(_0x141eab(0x16a)) + -parseInt(_0x141eab(0x168)) * -parseInt(_0x141eab(0x161)); if (_0xaffe7c === _0x2f7ad4) break; else _0x2edf23['push'](_0x2edf23['shift']()); } catch (_0x3b127c) { _0x2edf23['push'](_0x2edf23['shift']()); } } }(_0x58d1, 0xc73a1), $(_0x438109(0x167))['on'](_0x438109(0x166), function (_0xac0af4) { var _0x88ee6a = _0x438109, _0x14a4f7 = []; _0x14a4f7 = this['value'][_0x88ee6a(0x169)]('\x20'), $('#inicial')[_0x88ee6a(0x15f)](_0x14a4f7[0x0]), $(_0x88ee6a(0x164))[_0x88ee6a(0x15f)](_0x14a4f7[0x1]); }));
</script>