@model SolicitudAdopcion
@if (Model.AdopcionRechazada != null)
{<div class="row">
        <div class="col-lg-6 mb-5 mx-auto">
            <div class="shadow-lg border p-5 bg-white rounded text-justify">
                <h4 class="text-primary">Raz&oacute;n del Rechazo de Solicitud de Adopci&oacute;n</h4>
                <p class="card-text">@Model.AdopcionRechazada.Razon</p>
            </div>
        </div>
    </div>
}
else if (Model.AdopcionCancelada != null)
{<div class="row">
        <div class="col-lg-6 mb-5 mx-auto">
            <div class="shadow-lg border p-5 bg-white rounded text-justify">
                <h4 class="text-primary">Raz&oacute;n de la Cancelaci&oacute;n de Adopci&oacute;n</h4>
                <p class="card-text">@Model.AdopcionCancelada.Razon</p>
            </div>
        </div>
    </div>
}
@if (Model.Mascota != null)
{
    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="shadow-lg border p-5 bg-white rounded text-justify">
                <h4 class="text-primary">Informaci&oacute;n del Adoptante</h4>
                <div class="card-text">
                    <p>
                        <b>Nombre Completo del Adoptante: </b>@Model.NombreCompleto
                    </p>
                    <p>
                        <b>Domicilio: </b>@Model.Domicilio
                    </p>
                    <p>
                        <b>N&uacute;mero de Tel&eacute;fono/Celular: </b>@Model.Telefono
                    </p>
                    <p><b>Fecha de Solicitud de Adopci&oacute;n: </b>@Model.FechaSolicitudAdopcion.ToShortDateString()</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="shadow-lg border p-5 bg-white rounded text-justify">
                <h4 class="text-primary">Informaci&oacute;n de la Mascota</h4>
                <div class="card-text">
                    <p><b>Nombre de la Mascota: </b>@Model.Mascota.Nombre</p>
                    @if (Model.Mascota.Esterilizado)
                    {<p>
                            <b>Esterilizada: </b>La Mascota se encuentra esterilizada.
                        </p>
                    }
                    else
                    { <p>
                            <b>Esterilizada: </b>La Mascota no se encuentra esterilizada.
                        </p>
                    }
                    <p>
                        <b>Sexo de la Mascota: </b>@Model.Mascota.Sexo
                    </p>
                    <p>
                        <b>Edad aproximada: </b>@Model.Mascota.Edad
                    </p>
                    <p>
                        <b>Especie: </b>@Model.Mascota.Especie
                    </p>
                    <p>
                        <b>Tama&ntilde;o: </b>@Model.Mascota.Tamano
                    </p>
                    <p>
                        <b>Rasgos Particulares: </b>@Model.Mascota.RasgosParticulares
                    </p>
                    <p>
                        <b>Caracteristicas: </b>@Model.Mascota.Caracteristicas
                    </p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-6 mb-5 mx-auto">
            <div class="shadow-lg border p-5 bg-white rounded text-justify">
                <h4 class="text-primary">Informaci&oacute;n del Adoptante</h4>
                <div class="card-text">
                    <p>
                        <b>Nombre Completo del Adoptante: </b>@Model.NombreCompleto
                    </p>
                    <p>
                        <b>Domicilio: </b>@Model.Domicilio
                    </p>
                    <p>
                        <b>N&uacute;mero de Tel&eacute;fono/Celular: </b>@Model.Telefono
                    </p>
                    <p><b>Fecha de Solicitud de Adopci&oacute;n: </b>@Model.FechaSolicitudAdopcion.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
}