@model List<SolicitudAdopcion>
@{ int id = 1;}
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
<div class="row justify-content-around my-3">
    <button onclick="location.href='@Url.Action("ExcelAdopcionesAprobadas", "Adopcion", new { area="AdministracionAdopciones"})'" type="button" class="btn btn-success">
        <i class="fas fa-file-csv fa-lg mr-2"></i>Excel Adopciones Aprobadas
    </button>
    <button onclick="location.href='@Url.Action("ExcelSolicitudesAdopcionRechazadas", "Adopcion", new { area="AdministracionAdopciones"})'" type="button" class="btn btn-success">
        <i class="fas fa-file-csv fa-lg mr-2"></i>Excel Adopciones Rechazadas
    </button>
    <button onclick="location.href='@Url.Action("ExcelAdopcionesCanceladas", "Adopcion", new { area="AdministracionAdopciones"})'" type="button" class="btn btn-success">
        <i class="fas fa-file-csv fa-lg mr-2"></i>Excel Adopciones Canceladas
    </button>
</div>
<div class="row justify-content-around my-3">
    <button type="button" class="btn btn-danger" onclick="generatePDF()">
        <i class="fas fa-file-pdf fa-lg mr-2"></i>PDF Adopciones Aprobadas
    </button>
    <button type="button" class="btn btn-danger" onclick="PDFSolicitudAdopcionRechazada()">
        <i class="fas fa-file-pdf fa-lg mr-2"></i>PDF Adopciones Rechazadas
    </button>
    <button type="button" class="btn btn-danger" onclick="PDFSolicitudAdopcionCancelada()">
        <i class="fas fa-file-pdf fa-lg mr-2"></i>PDF Adopciones Canceladas
    </button>
</div>
<div class="my-3">
    <form class="form-inline" method="post" asp-action="ReturnVista" onsubmit="return send(this);">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idSelectEstado">Filtro:</label>
            </div>
            <select name="filter" id="idSelectEstado" class="custom-select dropdown-toggle mr-2">
                @if (ViewData["filter"].ToString().Equals("Aprobado"))
                {
                    <option value="Aprobado" selected>Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente" selected>Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado" selected>Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Cancelado"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado" selected>Cancelado</option>
                }
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idSelectCantidad">Cantidad:</label>
            </div>
            <select name="sizePage" id="idSelectCantidad" class="custom-select dropdown-toggle mr-2">
                @if (int.Parse(ViewData["itemsPerPage"].ToString()) == 5)
                {
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 10)
                {
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 20)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20" selected>20</option>
                    <option value="50">50</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 50)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50" selected>50</option>
                }
            </select>
        </div>
        <button id="resetear" type="submit" class="btn btn-primary">Reiniciar</button>
    </form>
</div>
<a type="button" href="@Url.Action("AdopcionPresencial", "Adopcion",new { area="AdministracionAdopciones"})"
   class="btn btn-primary mb-3">
    Registrar Adopci&oacute;n Presencial
</a>
<div class="table-responsive mt-3">
    <table id="tableAdminAdopciones" class="table table-bordered table-hover">
        <thead>
            <tr>
                @if (!ViewData["filter"].ToString().Equals("Aprobado") && !ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <th></th>
                }
                <th>Id</th>
                @if (ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <th>Raz&oacute;n de Rechazo</th>
                }
                else if (ViewData["filter"].ToString().Equals("Cancelado"))
                {
                    <th>Raz&oacute;n de Cancelaci&oacute;n</th>
                }
                else if (ViewData["filter"].ToString().Equals("Aprobado") || ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <th>Nombre Mascota</th>
                    <th>Nombre Completo Adoptante</th>
                }
                else
                {
                    <th>Raz&oacute;n de Adopci&oacute;n</th>
                }
                <th>Fecha Solicitud Adopci&oacute;n</th>
                @if (!ViewData["filter"].ToString().Equals("Pendiente") && !ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <th>Fecha de Adopci&oacute;n</th>
                }
                <th>Estado</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody id="tbodySolicitudAdopcion">
            @if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="7"><h1 class="text-center">No hay registros para mostrar.</h1></td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        @if (!item.Estado.Equals("Aprobado") && !item.Estado.Equals("Pendiente"))
                        {
                            <td width="3%">
                                <button data-toggle="collapse" data-target="#details-@item.Id" type="button" class="btn btn-sm btn-info mr-sm-1"><i class="fas fa-info-circle"></i></button>
                            </td>
                        }
                        <td width="3%">
                            @(id++)
                        </td>
                        @if (item.Estado.Equals("Aprobado") || item.Estado.Equals("Pendiente"))
                        {
                            <td>
                                @item.Mascota.Nombre
                            </td>
                            <td>
                                @item.NombreCompleto
                            </td>
                        }
                        else
                        {
                            <td>
                                @if (item.Estado.Equals("Rechazado"))
                                {
                                    @item.AdopcionRechazada.Razon
                                }
                                else if (item.Estado.Equals("Cancelado"))
                                {
                                    @item.AdopcionCancelada.Razon
                                }
                            </td>
                        }
                        <td width="18%">
                            @item.FechaSolicitudAdopcion.ToShortDateString()
                        </td>
                        @if (!item.Estado.Equals("Rechazado") && !item.Estado.Equals("Pendiente"))
                        {
                            <td width="15%">
                                @if (item.Estado.Equals("Aprobado"))
                                {
                                    <form method="post" asp-action="UpdateFecha">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <div class="input-group">
                                            <input id="datePicker-@item.Id" class="form-control" type="text" data-toggle="datepicker" name="FechaAdopcion" value="@item.FechaAdopcion.Date.ToShortDateString()" readonly />
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <p>@item.FechaAdopcion.ToShortDateString()</p>
                                }
                            </td>
                        }
                        <td width="10%">
                            @item.Estado
                        </td>
                        <td width="5%">
                            <div class="d-flex justify-content-center align-items-center">
                                <a type="button" href="@Url.Action("Detalle","Adopcion",new { id=item.Id, area="AdministracionAdopciones"})" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Vista detalle de adopción">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    @if (!item.Estado.Equals("Aprobado") && !item.Estado.Equals("Pendiente"))
                    {
                        <tr class="hiddentablerow">
                            <td colspan="7">
                                <div class="collapse" id="details-@item.Id">
                                    <p class="text-center mb-1">
                                        <strong>Informaci&oacute;n del Adoptante</strong><br />
                                        <strong>Nombre Completo: </strong>@item.NombreCompleto /
                                        <strong>Domicilio: </strong>@item.Domicilio
                                    </p>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot>
            <tr>
                @if (!ViewData["filter"].ToString().Equals("Aprobado") && !ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <th></th>
                }
                <th>Id</th>
                @if (ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <th>Raz&oacute;n de Rechazo</th>
                }
                else if (ViewData["filter"].ToString().Equals("Cancelado"))
                {
                    <th>Raz&oacute;n de Cancelaci&oacute;n</th>
                }
                else if (ViewData["filter"].ToString().Equals("Aprobado") || ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <th>Nombre Mascota</th>
                    <th>Nombre Completo Adoptante</th>
                }
                else
                {
                    <th>Raz&oacute;n de Adopci&oacute;n</th>
                }
                <th>Fecha Solicitud Adopci&oacute;n</th>
                @if (!ViewData["filter"].ToString().Equals("Pendiente") && !ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <th>Fecha de Adopci&oacute;n</th>
                }
                <th>Estado</th>
                <th>Detalle</th>
            </tr>
        </tfoot>
    </table>
</div>
<nav class="table-responsive">
    <form asp-action="ReturnVista" method="post" onsubmit="return send(this);">
        <input type="hidden" name="sizePage" value="@ViewData["itemsPerPage"]" />
        <input type="hidden" name="currentPage" />
        <input type="hidden" name="filter" value="@ViewData["filter"]" />
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (int.Parse(ViewData["currentPage"].ToString()) > 1)
            {
                <li class="page-item">
                    <button class="page-link" value="1" onclick="GetValueButton(this.value)">Primer</button>
                </li>
                <li class="page-item">
                    @{ int p = int.Parse(ViewData["currentPage"].ToString()) - 1;}
                    <button class="page-link" value="@p" onclick="GetValueButton(this.value)">Anterior</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">Primer<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">Anterior<span class="sr-only"></span></button>
                </li>
            }

            @for (var pagina = 1; pagina <= int.Parse(ViewData["totalPages"].ToString()); pagina++)
            {
                <li class="page-item @(pagina == int.Parse(ViewData["currentPage"].ToString()) ? "active" : "")">
                    @if (pagina == int.Parse(ViewData["currentPage"].ToString()))
                    {
                        <button type="button" class="page-link" value="@pagina" role="button">@(pagina)<span class="sr-only"></span></button>
                    }
                    else
                    {
                        <button class="page-link" value="@pagina" onclick="GetValueButton(this.value)">@(pagina)</button>
                    }
                </li>
            }

            @if (int.Parse(ViewData["currentPage"].ToString()) < int.Parse(ViewData["totalPages"].ToString()))
            {
                <li class="page-item">
                    @{int n = int.Parse(ViewData["currentPage"].ToString()) + 1;}
                    <button class="page-link" value="@n" onclick="GetValueButton(this.value)">Siguiente</button>
                </li>
                <li class="page-item">
                    <button class="page-link" value="@ViewData["totalPages"]" onclick="GetValueButton(this.value)">&Uacute;ltimo</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">Siguiente<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">&Uacute;ltimo<span class="sr-only"></span></button>
                </li>
            }
        </ul>
    </form>
</nav>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
    });
    var _0x5522 = ['ajax', 'location', 'log', 'ready', 'change', '1829398sYNfDx', '/Home/Error/', 'html', 'form', '1548237XpaIzJ', 'status', '[data-toggle=\x22datepicker\x22]', 'action', '/archivos/js/daterangepicker.js', '920944xkdjAv', 'select', '71NFBBTP', 'Pendiente', 'select[name=\x27filter\x27]\x20option', 'fail', '#view-all', '248021oXqTws', 'POST', '#resetear', '10664kGkYkz', 'val', '49376IfybWm', 'select[name=\x27sizePage\x27]\x20option', '165062hqHZpl', 'href']; function _0x4736(_0x3cfedc, _0x59b6d2) { return _0x4736 = function (_0x552238, _0x473691) { _0x552238 = _0x552238 - 0xc8; var _0x4c6994 = _0x5522[_0x552238]; return _0x4c6994; }, _0x4736(_0x3cfedc, _0x59b6d2); } var _0x4ace9c = _0x4736; (function (_0x4ca861, _0x26a5a4) { var _0x3218eb = _0x4736; while (!![]) { try { var _0x3d622c = -parseInt(_0x3218eb(0xc9)) + parseInt(_0x3218eb(0xd2)) + -parseInt(_0x3218eb(0xd9)) + -parseInt(_0x3218eb(0xe0)) + parseInt(_0x3218eb(0xcd)) + parseInt(_0x3218eb(0xdc)) * parseInt(_0x3218eb(0xd4)) + -parseInt(_0x3218eb(0xde)); if (_0x3d622c === _0x26a5a4) break; else _0x4ca861['push'](_0x4ca861['shift']()); } catch (_0x2d0ea6) { _0x4ca861['push'](_0x4ca861['shift']()); } } }(_0x5522, 0xe4244), $(document)[_0x4ace9c(0xe5)](function () { var _0x85a521 = _0x4ace9c, _0x2059f5 = _0x85a521(0xd1); $['getScript'](_0x2059f5); }), $(_0x4ace9c(0xcf))['on'](_0x4ace9c(0xc8), function () { var _0x457e74 = _0x4ace9c; return $[_0x457e74(0xe2)]({ 'type': _0x457e74(0xda), 'url': this[_0x457e74(0xcc)]['action'], 'data': new FormData(this[_0x457e74(0xcc)]), 'contentType': ![], 'processData': ![], 'success': function (_0xfe231f) { var _0x2f1733 = _0x457e74; $(_0x2f1733(0xd8))['html'](_0xfe231f[_0x2f1733(0xcb)]); }, 'error': function (_0x558624) { var _0x13f84c = _0x457e74; console[_0x13f84c(0xe4)](_0x558624); } })[_0x457e74(0xd7)](function (_0x4b4cea, _0x164146, _0x5a6ea9) { var _0x1fd258 = _0x457e74; window[_0x1fd258(0xe3)][_0x1fd258(0xe1)] = '/Error/' + _0x4b4cea[_0x1fd258(0xce)]; }), ![]; })); function GetValueButton(_0x3cf8da) { var _0x222a7a = _0x4ace9c; $('[name=\x27currentPage\x27]')[_0x222a7a(0xdd)](_0x3cf8da); } $(_0x4ace9c(0xdb))['on']('click', function () { var _0x4b058f = _0x4ace9c; $(_0x4b058f(0xd6))['val'](_0x4b058f(0xd5)), $(_0x4b058f(0xdf))[_0x4b058f(0xdd)]('10'); }), $(_0x4ace9c(0xd3))['on'](_0x4ace9c(0xc8), function () { var _0x1b479f = _0x4ace9c; $[_0x1b479f(0xe2)]({ 'type': _0x1b479f(0xda), 'url': this[_0x1b479f(0xcc)]['action'], 'data': new FormData(this['form']), 'contentType': ![], 'processData': ![], 'success': function (_0x5f4fc8) { var _0x36af14 = _0x1b479f; $(_0x36af14(0xd8))[_0x36af14(0xcb)](_0x5f4fc8); } })[_0x1b479f(0xd7)](function (_0x5c6d45, _0x3f2145, _0xe5cd56) { var _0x55ccb9 = _0x1b479f; window[_0x55ccb9(0xe3)][_0x55ccb9(0xe1)] = _0x55ccb9(0xca) + _0x5c6d45['status']; }); }), send = _0x40d893 => { var _0x1389bf = _0x4ace9c; return $[_0x1389bf(0xe2)]({ 'type': _0x1389bf(0xda), 'url': _0x40d893[_0x1389bf(0xd0)], 'data': new FormData(_0x40d893), 'contentType': ![], 'processData': ![], 'success': function (_0x4093cc) { var _0x554281 = _0x1389bf; $(_0x554281(0xd8))[_0x554281(0xcb)](_0x4093cc); } })[_0x1389bf(0xd7)](function (_0x110583, _0x152b01, _0x3b4a6b) { var _0x3edfd3 = _0x1389bf; window[_0x3edfd3(0xe3)][_0x3edfd3(0xe1)] = _0x3edfd3(0xca) + _0x110583[_0x3edfd3(0xce)]; }), ![]; };
    function generatePDF() {
        const doc = new jsPDF("landscape")
        doc.autoTable({
            head: [['Id', 'Nombre Completo', 'Domicilio', 'Numero de Celular', 'Nombre de Mascota','Fecha de Solicitud','Fecha de Adopcion']],
            body: [
                @foreach (var item in (List<SolicitudAdopcion>)ViewData["ListaSolicitudes"])
                {
                    if (item.Estado.Equals("Aprobado"))
                    {
                        <text>
                            ['@item.Id', '@item.NombreCompleto', '@item.Domicilio', '@item.Telefono', '@item.Mascota.Nombre', '@item.FechaSolicitudAdopcion.ToShortDateString()', '@item.FechaAdopcion.ToShortDateString()'],
                        </text>
                    }
                }
            ],
            theme: 'grid',
            styles: {
                font: 'times',
                halign: 'center',
                valign: 'middle'
            }
        });
        window.open(URL.createObjectURL(doc.output("blob")));
    }
    function PDFSolicitudAdopcionRechazada() {
        const doc = new jsPDF()
        doc.autoTable({
            head: [['Id', 'Razon', 'Id Solicitud Adopcion']],
            body: [
                @foreach (var item in (List<SolicitudAdopcion>)ViewData["ListaSolicitudes"])
                {
                    if (item.AdopcionRechazada != null)
                    {
                        <text>
                            ['@item.AdopcionRechazada.Id', '@item.AdopcionRechazada.Razon', '@item.Id'],
                        </text>
                    }
                }
            ],
            columnStyles: {
                0: { cellWidth: 10 },
                1: { cellWidth: 130 }
            },
            theme: 'grid',
            styles: {
                font: 'times',
                halign: 'center',
                valign: 'middle'
            }
        });
        window.open(URL.createObjectURL(doc.output("blob")));
    }
    function PDFSolicitudAdopcionCancelada() {
        const doc = new jsPDF()
        doc.autoTable({
            head: [['Id', 'Razon', 'Id Solicitud Adopcion']],
            body: [
                @foreach (var item in (List<SolicitudAdopcion>)ViewData["ListaSolicitudes"])
                {
                    if (item.AdopcionCancelada != null)
                    {
                        <text>
                            ['@item.AdopcionCancelada.Id', '@item.AdopcionCancelada.Razon', '@item.Id'],
                        </text>
                    }
                }
            ],
            columnStyles: {
                0: { cellWidth: 10 },
                1: { cellWidth: 130 }
            },
            theme: 'grid',
            styles: {
                font: 'times',
                halign: 'center',
                valign: 'middle'
            }
        });
        window.open(URL.createObjectURL(doc.output("blob")));
    }
</script>
