@model IEnumerable<ContratoAdopcion>
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="row">
    <form class="form-inline formulario" method="post" asp-action="ReturnVista" onsubmit="return send(this);">
        @*<input type="hidden" name="pageNumber" value="@ViewData["page"]" />*@
        @*<input type="hidden" name="search" value="@ViewData["search"]" />*@
        <div class="form-group mr-sm-3 mr-md-5">
            Filtro: <select name="filter" class="form-control dropdown-toggle">
                @if (ViewData["filter"].ToString().Equals("Aprobado"))
                {
                    <option value="Aprobado" selected>Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Pendiente"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente" selected>Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Rechazado"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado" selected>Rechazado</option>
                    <option value="Cancelado">Cancelado</option>
                }
                else if (ViewData["filter"].ToString().Equals("Cancelado"))
                {
                    <option value="Aprobado">Aprobado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Cancelado" selected>Cancelado</option>
                }
            </select>
        </div>
        <div class="form-group mr-sm-3 mr-md-5">
            Cantidad: <select name="sizePage" @*asp-items="Model.ListaSelectItem"*@ class="form-control form-control-sm dropdown-toggle mr-sm-3">
                @if (int.Parse(ViewData["itemsPerPage"].ToString()) == 5)
                {
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 10)
                {
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 20)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20" selected>20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 50)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                }
                else if (int.Parse(ViewData["itemsPerPage"].ToString()) == 100)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100" selected>100</option>
                }
            </select>
            <button id="resetear" type="submit" class="btn btn-primary">Reiniciar</button>
        </div>
    </form>
</div>
<div class="table-responsive mt-sm-3 mt-md-5">
    <table id="tableAdminContratos" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Raz&oacute;n de Adopci&oacute;n</th>
                <th>Fecha Solicitud Adopci&oacute;n</th>
                <th>Estado</th>
                <th>Fecha Adopci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodyContratoAdopcion">
            @if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="7"><h1 class="text-center">No hay registros para mostrar.</h1></td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="3%">
                            <button data-toggle="collapse" data-target="#details-@item.Id" type="button" class="btn btn-sm btn-info accordion-toggle mr-sm-1"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                        </td>
                        <td width="3%">
                            @item.Id
                        </td>
                        <td>
                            @item.RazonAdopcion
                        </td>
                        <td>
                            @item.FechaSolicitudAdopcion.ToShortDateString()
                        </td>
                        <td>
                            @item.Estado
                        </td>
                        <td>
                            @if (item.Estado.Equals("Aprobado"))
                            {
                                <form method="post" asp-action="UpdateFecha" onsubmit="return send(this);">
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <div class="input-group">
                                        <input id="datePicker-@item.Id" class="form-control" type="text" data-toggle="datepicker" name="FechaAdopcion" value="@item.FechaAdopcion.ToShortDateString()" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <p>@item.FechaAdopcion.ToShortDateString()</p>
                            }
                        </td>
                        <td width="15%">
                            @*@if (item.Estado.Equals("Pendiente"))
                                {*@
                            <button type="button" onclick="location.href='@Url.Action("Detalle","Adopcion",new { id=item.Id, area="AdministracionAdopciones"})';" class="btn btn-info"><i class="far fa-eye"></i></button>
                            @*else if (item.Estado.Equals("Rechazado") || item.Estado.Equals("Cancelado"))
                                {
                                    <button type="button" onclick="location.href='@Url.Action("InformeContrato","AdministrarAdopciones",new { id=item.Id})';" class="btn btn-info"><i class="far fa-eye"></i></button>
                                }*@
                            <form asp-action="Eliminar" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="hiddentablerow">
                            <div class="accordian-body collapse" id="details-@item.Id">
                                <p class="text-center">
                                    <strong>Informaci&oacute;n del Adoptante</strong><br />
                                    <strong>Nombre Completo: </strong>@item.Nombres @item.Apellidos &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                    <strong>Domicilio: </strong>@item.Domicilio
                                </p>
                                <p class="text-center">
                                    <strong>Informaci&oacute;n de Mascota</strong><br />
                                    <strong>Nombre: </strong>@item.Mascota.Nombre &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                    <strong>Tama&ntilde;o: </strong>@item.Mascota.Tamaño
                                </p>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Raz&oacute;n de Adopci&oacute;n</th>
                <th>Fecha Solicitud Adopci&oacute;n</th>
                <th>Estado</th>
                <th>Fecha Adopci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- pager -->
<nav class="table-responsive">
    <form asp-action="ReturnVista" method="post" onsubmit="return send(this);">
        <input type="hidden" name="sizePage" value="@ViewData["itemsPerPage"]" />
        <input type="hidden" name="currentPage" />
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (int.Parse(ViewData["currentPage"].ToString()) > 1)
            {
                <li class="page-item">
                    <button class="page-link" value="1" onclick="GetValueButton(this.value)">First</button>
                </li>
                <li class="page-item">
                    @{ int p = int.Parse(ViewData["currentPage"].ToString()) - 1;}
                    <button class="page-link" value="@p" onclick="GetValueButton(this.value)">Previous</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">First<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">Previous<span class="sr-only"></span></button>
                </li>
            }

            @for (var pagina = 1; pagina <= int.Parse(ViewData["totalPages"].ToString()); pagina++)
            {
                <li class="page-item @(pagina == int.Parse(ViewData["currentPage"].ToString()) ? "active" : "")">
                    @if (pagina == int.Parse(ViewData["currentPage"].ToString()))
                    {
                        <button type="button" class="page-link" value="@pagina" role="button">@(pagina)<span class="sr-only"></span></button>
                    }
                    else
                    {
                        <button class="page-link" value="@pagina" onclick="GetValueButton(this.value)">@(pagina)</button>
                    }
                </li>
            }

            @if (int.Parse(ViewData["currentPage"].ToString()) < int.Parse(ViewData["totalPages"].ToString()))
            {
                <li class="page-item">
                    @{int n = int.Parse(ViewData["currentPage"].ToString()) + 1;}
                    <button class="page-link" value="@n" onclick="GetValueButton(this.value)">Next</button>
                </li>
                <li class="page-item">
                    <button class="page-link" value="@ViewData["totalPages"]" onclick="GetValueButton(this.value)">Last</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <button type="button" class="page-link">Next<span class="sr-only"></span></button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link">Last<span class="sr-only"></span></button>
                </li>
            }
        </ul>
    </form>
</nav>
<script>
    $('[data-toggle="datepicker"]').datepicker({
        format: "dd/MM/yyyy",
        language: "es-ES",
        autoHide: "true"
    });

    function GetValueButton(val) {
        $("[name='currentPage']").val(val);
    }
    $("#resetear").on("click", function () {
        $("select[name='filter'] option").val("Pendiente");
        $("select[name='sizePage'] option").val("10");
    });
    //$(document).ready(function () {
    //    if ($('.formulario input[type="text"]').val() == "") {
    //        $('.formulario button').prop('disabled', true);
    //    }
    //    $('.formulario input[type="text"]').keyup(function () {
    //        $('.formulario button').prop('disabled', this.value == "" ? true : false);
    //    })
    //    $('.accordion-toggle').click(function () {
    //        $(this).find('i').toggleClass('fa fa-plus-square fa fa-minus-square');
    //    });
    //});
    $('[data-toggle="datepicker"]').on('change', function () {
        try {
            $.ajax({
                type: "POST",
                url: this.form.action,
                data: new FormData(this.form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } catch (e) {
            console.log(e);
        }
    })
    $('select').on('change', function () {
        try {
            $.ajax({
                type: "POST",
                url: this.form.action,
                data: new FormData(this.form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } catch (e) {
            console.log(e);
        }
    });
    send = form => {
        try {
            $.ajax({
                type: "POST",
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                        $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err);
                }
            })
            return false;
        } catch (e) {
            console.log(e);
        }
    };
</script>