@model Seguimiento
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
@{ int id = 1;}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="shadow-lg border p-5 bg-white rounded text-center">
                No se puede mostrar el listado de reportes, id de seguimiento incorrecto.
            </div>
        </div>
    </div>
}
else
{
    @if (Model.Estado.Equals("Activo"))
    {
        <div class="border-0 p-5 my-5 rounded shadow-lg">
            <div class="card-text text-center">
                <h5>No puede ingresar al listado de reportes si el seguimiento no est&aacute; asignado a un voluntario.</h5>
            </div>
        </div>
    }
    else
    {
        <div class="d-xl-flex justify-content-between my-3">
            <div class="my-2">
                @if (Model.Estado.Equals("Finalizado"))
                {
                    <button type="button" class="btn btn-primary" disabled><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                }
                else
                {
                    <form asp-action="AddReporte" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostList(this);" method="post">
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Agregar reporte"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </form>
                }
            </div>
            <div class="my-2">
                @if (Model.User == null)
                {
                    <p class="shadow px-2 py-2 bg-white rounded">A&uacute;n no tiene un Voluntario asignado.</p>
                }
                else
                {
                    <p class="shadow px-2 py-2 bg-white rounded">Voluntario: @Model.User.Persona.Nombres @Model.User.Persona.Apellidos | Mascota: @Model.SolicitudAdopcion.Mascota.Nombre</p>
                }
            </div>
            <div class="my-2">
                <p class="shadow px-2 py-2 bg-white rounded">Fecha de Adopci&oacute;n: @Model.SolicitudAdopcion.FechaAdopcion.ToShortDateString()</p>
            </div>
            <div class="my-2">
                <p class="shadow px-2 py-2 bg-white rounded">Rango de Fechas: @Model.FechaInicio.ToShortDateString() - @Model.FechaFin.ToShortDateString()</p>
            </div>
            <div class="my-2">
                @if (Model.Estado.Equals("Finalizado"))
                {
                    <button class="btn btn-primary" type="button" disabled>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                }
                else
                {
                    <button class="btn btn-primary" type="button"
                            onclick="showInPopup('@Url.Action("SetRangoFechasSeguimiento","ReporteSeguimiento", new { id=Model.Id, area="AdministracionSeguimientos" })', 'Actualizar Seguimiento');"
                            data-toggle="tooltip" data-placement="top" title="Actualizar rango de fechas">
                        <span data-toggle="modal" data-target="#form-modal">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </button>
                }
            </div>
        </div>
        @if (Model.FechaInicio.Date.Equals(Model.FechaFin.Date))
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>
                    No se ha asignado un rango de fechas al seguimiento, debe establecer un rango
                    para asignar las fechas de los reportes.
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if (Model.ReporteSeguimientos.Any(x => x.FechaReporte.Date < Model.FechaInicio.Date || x.FechaReporte.Date > Model.FechaFin.Date) || Model.ReporteSeguimientos.Any(x => x.Estado.Equals("Activo")))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>
                    Hay registros cuyas fechas no est&aacute;n en el rango establecido o que no est&aacute;n asignadas,
                    debe asignar la fecha de un registro al rango de fechas para realizar el reporte.
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Observaciones</th>
                        <th>Fecha Reporte</th>
                        <th>Estado</th>
                        <th>Ver Imagen</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tbodyReporteSeguimiento">
                    @foreach (var item in Model.ReporteSeguimientos)
                    {
                        <tr>
                            <td width="5%">
                                @(id++)
                            </td>
                            <td>
                                @if (item.Estado.Equals("Activo") || item.Estado.Equals("Asignado"))
                                {
                                    <p>A&uacute;n no se realiz&oacute; el reporte.</p>
                                }
                                else
                                {
                                    @item.Observaciones
                                }
                            </td>
                            <td width=20%>
                                @if (item.Estado.Equals("Enviado") || Model.Estado.Equals("Finalizado"))
                                {
                                    <div class="input-group">
                                        <input id="idFecha-@item.Id" name="FechaReporte" value="@item.FechaReporte.Date.ToShortDateString()" type="text" class="form-control" readonly>
                                    </div>
                                }
                                else
                                {
                                    <form asp-action="UpdateFechaReporte" autocomplete="off" method="post">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <input type="hidden" name="SeguimientoId" value="@item.SeguimientoId" />
                                        <div class="input-group">
                                            <input id="idFecha-@item.Id" name="FechaReporte" value="@item.FechaReporte.Date.ToShortDateString()" type="text" class="form-control" data-toggle="datepicker" readonly>
                                        </div>
                                    </form>
                                }
                            </td>
                            <td width="5%">
                                @if (item.Estado.Equals("Activo"))
                                {
                                    <h5>
                                        <span class="badge badge-pill p-2 badge-warning">
                                            @item.Estado
                                        </span>
                                    </h5>
                                }
                                else if (item.Estado.Equals("Asignado"))
                                {
                                    <h5>
                                        <span class="badge badge-pill p-2 badge-info">
                                            @item.Estado
                                        </span>
                                    </h5>
                                }
                                else
                                {
                                    <h5>
                                        <span class="badge badge-pill p-2 badge-primary">
                                            @item.Estado
                                        </span>
                                    </h5>
                                }
                            </td>
                            <td width="10%" class="text-center">
                                @if (item.Foto != null)
                                {
                                    <button type="button" onclick="showInPopup('@Url.Action("GetFotoReporteSeguimiento","ReporteSeguimiento", new { url=item.Foto.Url, area="AdministracionSeguimientos"})','Imagen del Reporte');"
                                            data-toggle="tooltip" data-placement="top" title="Ver foto"
                                            class="btn btn-success">
                                        <span data-toggle="modal" data-target="#form-modal">
                                            <i class="fas fa-images"></i>
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <p>Sin Imagen.</p>
                                }
                            </td>
                            <td width="5%">
                                <div class="d-flex justify-content-center align-items-center">
                                    @if (item.Estado.Equals("Enviado") || Model.Estado.Equals("Finalizado"))
                                    {
                                        <button type="button" class="btn btn-danger" disabled><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    }
                                    else
                                    {
                                        <form asp-action="DeleteReporte" asp-route-idReporte="@item.Id" asp-route-idSeguimiento="@item.SeguimientoId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                            <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar registro">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Descripcion</th>
                        <th>Fecha Reporte</th>
                        <th>Estado</th>
                        <th>Ver Imagen</th>
                        <th>Eliminar</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script type="text/javascript" language=javascript>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
            });
            $("button").click(function () {
                $("[data-toggle='tooltip']").tooltip('hide');
            });
            function _0xcfb0() { var _0x479c2c = ['101555wKTKGj', '264240DEIkUM', 'ready', '57393oZVGso', 'Visibilidad', '22LcFbJO', 'Siguiente', 'Mostrando\x20registros\x20del\x200\x20al\x200\x20de\x20un\x20total\x20de\x200\x20registros', '34zGkbmd', 'Copiar', 'Cargando...', 'Mostrando\x20registros\x20del\x20_START_\x20al\x20_END_\x20de\x20un\x20total\x20de\x20_TOTAL_\x20registros', 'Último', '(filtrado\x20de\x20un\x20total\x20de\x20_MAX_\x20registros)', '965293CxNMkZ', '36Zyxony', ':\x20Activar\x20para\x20ordenar\x20la\x20columna\x20de\x20manera\x20ascendente', '2103790iHlXDH', 'Primero', '4996xZrPEh', 'DataTable', '#example', 'Buscar:', 'getScript', 'Anterior', '145576uSJEEV', '/archivos/js/daterangepicker.js', 'Procesando...', '81oXLgYb']; _0xcfb0 = function () { return _0x479c2c; }; return _0xcfb0(); } var _0x30492d = _0x484b; function _0x484b(_0x1eef87, _0x1815af) { var _0xcfb099 = _0xcfb0(); return _0x484b = function (_0x484b7d, _0x515fe7) { _0x484b7d = _0x484b7d - 0xa2; var _0xc74fc = _0xcfb099[_0x484b7d]; return _0xc74fc; }, _0x484b(_0x1eef87, _0x1815af); } (function (_0xc55435, _0x258e5a) { var _0x387dc5 = _0x484b, _0x4a8c3b = _0xc55435(); while (!![]) { try { var _0x44da67 = -parseInt(_0x387dc5(0xad)) / 0x1 * (-parseInt(_0x387dc5(0xb8)) / 0x2) + parseInt(_0x387dc5(0xa8)) / 0x3 + parseInt(_0x387dc5(0xb4)) / 0x4 * (parseInt(_0x387dc5(0xa5)) / 0x5) + -parseInt(_0x387dc5(0xa6)) / 0x6 + parseInt(_0x387dc5(0xb3)) / 0x7 + -parseInt(_0x387dc5(0xbe)) / 0x8 * (-parseInt(_0x387dc5(0xa4)) / 0x9) + parseInt(_0x387dc5(0xb6)) / 0xa * (-parseInt(_0x387dc5(0xaa)) / 0xb); if (_0x44da67 === _0x258e5a) break; else _0x4a8c3b['push'](_0x4a8c3b['shift']()); } catch (_0x25b96d) { _0x4a8c3b['push'](_0x4a8c3b['shift']()); } } }(_0xcfb0, 0x1e358), $(document)[_0x30492d(0xa7)](function () { var _0x5aca9b = _0x30492d, _0x276ae2 = _0x5aca9b(0xa2); $[_0x5aca9b(0xbc)](_0x276ae2), $(_0x5aca9b(0xba))[_0x5aca9b(0xb9)]({ 'processing': !![], 'ordering': ![], 'language': { 'sProcessing': _0x5aca9b(0xa3), 'sLengthMenu': 'Mostrar\x20_MENU_\x20registros', 'sZeroRecords': 'No\x20se\x20encontraron\x20resultados', 'sEmptyTable': 'Ningún\x20dato\x20disponible\x20en\x20esta\x20tabla\x20=(', 'sInfo': _0x5aca9b(0xb0), 'sInfoEmpty': _0x5aca9b(0xac), 'sInfoFiltered': _0x5aca9b(0xb2), 'sInfoPostFix': '', 'sSearch': _0x5aca9b(0xbb), 'sUrl': '', 'sInfoThousands': ',', 'sLoadingRecords': _0x5aca9b(0xaf), 'oPaginate': { 'sFirst': _0x5aca9b(0xb7), 'sLast': _0x5aca9b(0xb1), 'sNext': _0x5aca9b(0xab), 'sPrevious': _0x5aca9b(0xbd) }, 'oAria': { 'sSortAscending': _0x5aca9b(0xb5), 'sSortDescending': ':\x20Activar\x20para\x20ordenar\x20la\x20columna\x20de\x20manera\x20descendente' }, 'buttons': { 'copy': _0x5aca9b(0xae), 'colvis': _0x5aca9b(0xa9) } } }); }));
            var _0x348b = ['form', '982688hxuies', '3067LHAMSU', 'fail', '475836mDmlwk', '1114735DQJLMN', 'POST', '3191sDcGky', 'location', 'change', 'status', '471610ifpBbE', '174BBIsDK', '66763aWctuf', '/Error/', 'ajax', 'href', '353bSkgOp', 'html']; function _0x4f1f(_0x52e421, _0x35d253) { return _0x4f1f = function (_0x348b0a, _0x4f1f35) { _0x348b0a = _0x348b0a - 0x10e; var _0x3df4a8 = _0x348b[_0x348b0a]; return _0x3df4a8; }, _0x4f1f(_0x52e421, _0x35d253); } var _0xe7cc8f = _0x4f1f; (function (_0x3c4c7e, _0x2bc1e8) { var _0x551e71 = _0x4f1f; while (!![]) { try { var _0x32c9db = -parseInt(_0x551e71(0x110)) + -parseInt(_0x551e71(0x10f)) + parseInt(_0x551e71(0x118)) + -parseInt(_0x551e71(0x116)) + parseInt(_0x551e71(0x117)) * parseInt(_0x551e71(0x120)) + parseInt(_0x551e71(0x11f)) + parseInt(_0x551e71(0x11c)) * parseInt(_0x551e71(0x112)); if (_0x32c9db === _0x2bc1e8) break; else _0x3c4c7e['push'](_0x3c4c7e['shift']()); } catch (_0x484ee0) { _0x3c4c7e['push'](_0x3c4c7e['shift']()); } } }(_0x348b, 0x9e0b7), $('[data-toggle=\x22datepicker\x22]')['on'](_0xe7cc8f(0x114), function () { var _0x3ba887 = _0xe7cc8f; return $[_0x3ba887(0x11a)]({ 'type': _0x3ba887(0x111), 'url': this[_0x3ba887(0x11e)]['action'], 'data': new FormData(this['form']), 'contentType': ![], 'processData': ![], 'success': function (_0x56b50a) { var _0x36558b = _0x3ba887; $('#view-all')[_0x36558b(0x11d)](_0x56b50a[_0x36558b(0x11d)]); } })[_0x3ba887(0x10e)](function (_0x2f079, _0x2dae44, _0x478c44) { var _0xa452e5 = _0x3ba887; window[_0xa452e5(0x113)][_0xa452e5(0x11b)] = _0xa452e5(0x119) + _0x2f079[_0xa452e5(0x115)]; }), ![]; }));
        </script>
    }
}