@model List<DataGraficaDto>
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Nombre).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Cantidad.ToString()).ToList());
}
<form class="py-3" method="post" asp-action="ReturnVistaAdopciones" onsubmit="return showGrafica(this);">
    <input class="mr-3" type="month" id="start" name="fechas[]"
           min="2020-01" value="@Convert.ToDateTime(ViewData["fechaInicio"]).ToString("yyyy-MM")"
           max="@DateTime.Now.Year-@DateTime.Now.Month.ToString().PadLeft(2, '0')">
    <input type="month" id="start" name="fechas[]"
           min="2020-01" value="@Convert.ToDateTime(ViewData["fechaFin"]).ToString("yyyy-MM")"
           max="@DateTime.Now.Year-@DateTime.Now.Month.ToString().PadLeft(2, '0')">
    <button class="btn btn-primary" type="submit">Graficar</button>
</form>
    <div class="row my-3">
        <div class="col-12">
            <div class="shadow-lg border p-sm-1 p-md-3 bg-white rounded">
                <canvas id="chartLineAdopciones" style="width:100%;"></canvas>
            </div>
        </div>
        <div class="col-lg-6 mt-5 mx-auto">
            <div class="card rounded shadow">
                <div class="card-body">
                    <canvas id="chartDoughnutAdopciones" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        showGrafica = form => {
            event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $('#viewAdopciones').html(res.html);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        window.location.href = "/Error/" + jqXHR.status;
                    })
                return false;
        };
        $(function () {
        var chartName = "chartLineAdopciones";
        var ctx = document.getElementById(chartName).getContext('2d');
        var speedData = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                label: "Registros por Mes",
                data: @Html.Raw(YValues),
                borderWidth: 5,
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        };

        var lineChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Solicitudes de adopcion recibidas por mes.'
                    }
                }
            }
        });
    });

        $(function () {
            var chartName = "chartDoughnutAdopciones";
        var ctx = document.getElementById(chartName).getContext('2d');
        var speedData = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                data: @Html.Raw(YValues),
                borderWidth: 2,
                fill: false,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 101)',
                    'rgb(255, 205, 86)',
                    'rgb(10, 114, 40)',
                    'rgb(216, 197, 56)',
                    'rgb(243, 190, 25)',
                    'rgb(156, 16, 178)',
                    'rgb(200, 49, 34)',
                    'rgb(178, 70, 190)',
                    'rgb(109, 145, 123)',
                    'rgb(89, 252, 216)',
                    'rgb(45, 207, 255)'
                ],
                hoverOffset: 4
            }]
        };
        var lineChart = new Chart(ctx, {
            type: 'doughnut',
            data: speedData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Solicitudes de adopcion recibidas por mes.'
                    }
                }
            }
        });
    });
    </script>
