@model Tuple<List<User>, Seguimiento>
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<style>
    .card > .btn:after {
        font-family: FontAwesome;
        content: "\f106";
        padding-right: 5px;
    }

    .card > .btn.collapsed:after {
        content: "\f107";
    }
</style>
<div class="row mt-5">
    <div class="col-lg-10 mx-auto">
        <div class="shadow border p-5 bg-white rounded text-center">
                <h5>
                    <strong>Domicilio del Adoptante</strong>
                </h5>
                <p class="card-text">Direcci&oacute;n del Adoptante:  @Model.Item2.SolicitudAdopcion.Domicilio</p>
        </div>
    </div>
    <div class="col-lg-8 mx-auto mt-5">
        <div id="accordion">
            @foreach (var item in @Model.Item1)
            {
                <div class="card">
                    <a role="button" class="btn card-header d-md-flex justify-content-md-between collapsed" id="heading-@item.Id" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                            <h5>
                                Voluntario: @item.Nombres @item.Apellidos
                            </h5>
                            @if (Model.Item2.Estado.Equals("Asignado") && item.Id == Model.Item2.UserId)
                            {
                                <h5>
                                    <span class="badge badge-pill p-1 badge-primary">
                                        Voluntario Asignado
                                    </span>
                                </h5>
                            }
                    </a>

                    <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id" data-parent="#accordion">
                        <div class="card-body row">
                            <div class="col-lg-10">
                                <p class="card-text">
                                    Direcci&oacute;n: @item.Domicilio
                                </p>
                                <p class="card-text">
                                    Edad: @item.Edad a&ntilde;o(s)
                                </p>
                                <p class="card-text">
                                    N&uacute;mero de Celular: @item.NumeroCelular
                                </p>
                                <p class="card-text">
                                    Correo Electr&oacute;nico: @item.Email
                                </p>
                            </div>
                            <div class="col-lg-2">
                                @if (Model.Item2.Estado.Equals("Asignado") && item.Id == Model.Item2.UserId)
                                {
                                    <form asp-action="QuitarAsignacion" asp-route-idUser="@item.Id" method="post" onsubmit="return removeChecked(this);">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-user-times" aria-hidden="true"></i></button>
                                    </form>
                                }
                                else if (Model.Item2.Estado.Equals("Activo"))
                                {
                                    <form asp-action="AsignarSeguimiento" asp-route-idUser="@item.Id" method="post" onsubmit="return checkVoluntario(this);">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var _0x1f45 = ['Cancelar', '488794pRGojE', 'url', 'isValid', 'Aceptar', 'El\x20seguimiento\x20actual\x20se\x20desvinculará\x20del\x20usuario\x20seleccionado.', '693927YOxEka', '#3085d6', 'href', 'fire', '/Error/', '64063eXuFdC', '77906LmRqBc', 'then', 'preventDefault', 'fail', 'ajax', 'html', 'value', 'POST', 'status', '¿Estás\x20seguro\x20de\x20cancelar\x20la\x20solicitud\x20pendiente\x20de\x20seguimiento\x20a\x20este\x20usuario?', '646383MWmvgN', '3xeVUWn', 'location', '#view-all', 'warning', 'El\x20seguimiento\x20actual\x20estará\x20activo\x20nuevamente\x20para\x20ser\x20asignado.', '179380qQzxzb', '357542WbNQNq', 'action', '4kOJcQR']; function _0x5191(_0x23f3e0, _0x16443d) { return _0x5191 = function (_0x1f4543, _0x5191a6) { _0x1f4543 = _0x1f4543 - 0xe0; var _0x340277 = _0x1f45[_0x1f4543]; return _0x340277; }, _0x5191(_0x23f3e0, _0x16443d); } (function (_0x12c332, _0x14abe2) { var _0x29aa37 = _0x5191; while (!![]) { try { var _0x5c927c = -parseInt(_0x29aa37(0xfb)) + parseInt(_0x29aa37(0xe1)) * parseInt(_0x29aa37(0xe4)) + parseInt(_0x29aa37(0xe6)) + -parseInt(_0x29aa37(0xf0)) + -parseInt(_0x29aa37(0xeb)) + -parseInt(_0x29aa37(0xfc)) * -parseInt(_0x29aa37(0xf1)) + parseInt(_0x29aa37(0xe2)); if (_0x5c927c === _0x14abe2) break; else _0x12c332['push'](_0x12c332['shift']()); } catch (_0x39fb02) { _0x12c332['push'](_0x12c332['shift']()); } } }(_0x1f45, 0x5fff1), checkVoluntario = _0x498b70 => { var _0x24ac7f = _0x5191; return $['ajax']({ 'type': _0x24ac7f(0xf8), 'url': _0x498b70[_0x24ac7f(0xe3)], 'data': new FormData(_0x498b70), 'contentType': ![], 'processData': ![], 'success': function (_0x8807e) { var _0x23b0cd = _0x24ac7f; _0x8807e[_0x23b0cd(0xe8)] ? window[_0x23b0cd(0xfd)][_0x23b0cd(0xed)] = _0x8807e[_0x23b0cd(0xe7)] : $(_0x23b0cd(0xfe))[_0x23b0cd(0xf6)](_0x8807e[_0x23b0cd(0xf6)]); } })[_0x24ac7f(0xf4)](function (_0x5aeb1e, _0x2f9934, _0x4a93a7) { var _0x30eb06 = _0x24ac7f; window[_0x30eb06(0xfd)][_0x30eb06(0xed)] = _0x30eb06(0xef) + _0x5aeb1e['status']; }), ![]; }, removeChecked = _0x111339 => { var _0x7ed6fd = _0x5191; event[_0x7ed6fd(0xf3)](), Swal[_0x7ed6fd(0xee)]({ 'title': '¿Estás\x20seguro\x20de\x20desvincular\x20al\x20usuario\x20de\x20este\x20seguimiento?', 'text': _0x7ed6fd(0xea), 'icon': _0x7ed6fd(0xff), 'showCancelButton': !![], 'confirmButtonColor': _0x7ed6fd(0xec), 'cancelButtonColor': '#d33', 'confirmButtonText': _0x7ed6fd(0xe9), 'cancelButtonText': _0x7ed6fd(0xe5) })[_0x7ed6fd(0xf2)](_0x2ec112 => { var _0x4524fa = _0x7ed6fd; if (_0x2ec112[_0x4524fa(0xf7)]) return $[_0x4524fa(0xf5)]({ 'type': 'POST', 'url': _0x111339[_0x4524fa(0xe3)], 'data': new FormData(_0x111339), 'contentType': ![], 'processData': ![], 'success': function (_0x5dc07a) { var _0x26dd67 = _0x4524fa; $(_0x26dd67(0xfe))['html'](_0x5dc07a[_0x26dd67(0xf6)]); } })['fail'](function (_0x5d6219, _0x3b535d, _0x11b5fa) { var _0x132bb6 = _0x4524fa; window[_0x132bb6(0xfd)][_0x132bb6(0xed)] = _0x132bb6(0xef) + _0x5d6219[_0x132bb6(0xf9)]; }), ![]; }); }, removePendiente = _0x47fd19 => { var _0x3a9323 = _0x5191; event['preventDefault'](), Swal['fire']({ 'title': _0x3a9323(0xfa), 'text': _0x3a9323(0xe0), 'icon': _0x3a9323(0xff), 'showCancelButton': !![], 'confirmButtonColor': _0x3a9323(0xec), 'cancelButtonColor': '#d33', 'confirmButtonText': _0x3a9323(0xe9), 'cancelButtonText': _0x3a9323(0xe5) })['then'](_0x15644c => { var _0x5b7055 = _0x3a9323; if (_0x15644c['value']) return $[_0x5b7055(0xf5)]({ 'type': _0x5b7055(0xf8), 'url': _0x47fd19[_0x5b7055(0xe3)], 'data': new FormData(_0x47fd19), 'contentType': ![], 'processData': ![], 'success': function (_0xdd50a9) { var _0x100df3 = _0x5b7055; $(_0x100df3(0xfe))[_0x100df3(0xf6)](_0xdd50a9[_0x100df3(0xf6)]); } })[_0x5b7055(0xf4)](function (_0x43ed76, _0x312598, _0x31fd81) { var _0x144dcf = _0x5b7055; window['location']['href'] = _0x144dcf(0xef) + _0x43ed76[_0x144dcf(0xf9)]; }), ![]; }); });
</script>