@model ContratoAdopcion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-5">
    <h3>
        Vista Detalle Seguimiento Asignado
    </h3>
    <p class="mb-5">
        En esta vista se detalla la informaci&oacute;n del
        seguimiento al cual has sido asignado.
    </p>
    <div class="row">
        <div class="col-lg-6">
            <div class="card text-justify rounded-lg my-3">
                <div class="card-header">
                    <h4>Informaci&oacute;n del Adoptante</h4>
                </div>
                <div class="card-body text-success">
                    <p class="card-text">
                        <strong>Nombre Completo del Adoptante: </strong>@Model.Nombres @Model.Apellidos<br /><br />
                        <strong>Carnet de Identidad: </strong>@Model.Ci<br /><br />
                        <strong>Domicilio: </strong>@Model.Domicilio<br /><br />
                        <strong>N&uacute;mero de Celular: </strong>@Model.NumeroCelular<br /><br />
                        <strong>Fecha de Solicitud de Adopci&oacute;n: </strong>@Model.FechaSolicitudAdopcion.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card text-justify rounded-lg my-3">
                <div class="card-header">
                    <h4>Informaci&oacute;n de la Mascota</h4>
                </div>
                <div class="card-body text-success">
                    <p class="card-text">
                        <strong>Nombre de la Mascota: </strong>@Model.Mascota.Nombre<br /><br />
                        @if (Model.Mascota.Esterilizado)
                        {
                            <strong>Esterilizada: </strong>@:La Mascota se encuentra esterilizada.<br /><br />
                        }
                        else
                        {
                            <strong>Esterilizada: </strong>@:La Mascota no se encuentra esterilizada.<br /><br />
                        }
                        <strong>Especie: </strong>@Model.Mascota.Especie<br /><br />
                        <strong>Sexo de la Mascota: </strong>@Model.Mascota.Sexo<br /><br />
                        <strong>Edad: </strong>@Model.Mascota.Edad<br /><br />
                        <strong>Tama&ntilde;o de la Mascota: </strong>@Model.Mascota.Tamaño<br /><br />
                        <strong>Caracteristicas de la Mascota: </strong>@Model.Mascota.Caracteristicas<br /><br />
                        <strong>Rasgos Particulares: </strong>@Model.Mascota.RasgosParticulares
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>