@model Mascota
@if (Model == null)
{
    <div class="shadow-lg border p-5 bg-white rounded">
        <p class="text-center">No se puede mostrar la informaci&oacute;n, la mascota no existe o el id de la denuncia es incorrecto.</p>
    </div>
}
else
{
    @await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
    <div class="shadow-lg border p-5 bg-white rounded">
        @if (Model.Id == 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong class="text-center">Podr&aacute;s asignar las Fotos cuando se agreguen los Datos de la Mascota</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <form asp-action="AddOrEditMascota" asp-controller="Mascota" onsubmit="return showForm(this);" autocomplete="off" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="DenunciaId" value="@Model.DenunciaId" />
            <div class="row">
                <div class="form-group col-md-12 my-3">
                    <label for="idNombre">Ingrese el Nombre de la Mascota</label>
                    <input id="idNombre" type="text" asp-for="Nombre" class="form-control" />
                    @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12 mb-3">
                    <label for="idEspecie">Ingrese la Especie</label>
                    <input id="idEspecie" type="text" asp-for="Especie" class="form-control" />
                    @Html.ValidationMessageFor(x => x.Especie, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="idCarac">Ingrese la Caracter&iacute;sticas de la Mascota:</label>
                    <textarea id="idCarac" type="text" asp-for="Caracteristicas" class="form-control"></textarea>
                    @Html.ValidationMessageFor(x => x.Caracteristicas, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="idRasgos">Ingrese los Rasgos Particulares de la Mascota:</label>
                    <textarea id="idRasgos" type="text" asp-for="RasgosParticulares" class="form-control"></textarea>
                    @Html.ValidationMessageFor(x => x.RasgosParticulares, "", new { @class = "text-danger" })
                </div>
                <div id="idCheckSexo" class="form-group col-md-6 mb-3">
                    <label>Elija el Sexo de la Mascota:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioButtonSexo1" value="Macho" asp-for="Sexo" checked>
                        <label class="form-check-label" for="radioButtonSexo1">
                            Macho
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioButtonSexo2" value="Hembra" asp-for="Sexo">
                        <label class="form-check-label" for="radioButtonSexo2">
                            Hembra
                        </label>
                    </div>
                    @Html.ValidationMessageFor(x => x.Sexo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="idTamano">Ingrese el tamaño de la Mascota (Ej: Pequeño, Mediano, etc.)</label>
                    <input id="idTamano" type="text" asp-for="Tamaño" class="form-control" />
                    @Html.ValidationMessageFor(x => x.Tamaño, "", new { @class = "text-danger" })
                </div>
                <div id="idCheckEsterilizado" class="form-group col-md-6 mb-3">
                    <label>¿La Mascota se encuentra esterilizada?:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioButtonPositivo" value="true" asp-for="Esterilizado" checked>
                        <label class="form-check-label" for="radioButtonPositivo">
                            S&iacute;
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioButtonNegativo" value="false" asp-for="Esterilizado">
                        <label class="form-check-label" for="radioButtonNegativo">
                            No
                        </label>
                    </div>
                    @Html.ValidationMessageFor(x => x.Esterilizado, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="idEdad">Ingrese la Edad aproximada de la Mascota (Ej: 2 meses, 1 a&ntilde;o, etc.)</label>
                    <input id="idEdad" type="text" asp-for="Edad" class="form-control" />
                    @Html.ValidationMessageFor(x => x.Edad, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Id == 0)
            {
                <button type="submit" class="btn btn-primary" disabled>
                    Registrar
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>
                    Modificar
                </button>
            }
        </form>
        <script type="text/javascript" language=javascript>
            $.validator.unobtrusive.parse(document);
            $('form [class="form-control"]').on('change input', function () {
                $('form button[type="submit"]').prop('disabled', false);
            });
            $('form [class="form-check-input"]').on('change input', function () {
                $('form button[type="submit"]').prop('disabled', false);
            });
        </script>
    </div>
}