<!DOCTYPE html>
<html5 lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Asociacion Protectora de Animales Tarija</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="~/archivos/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/archivos/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

        <script src="https://kit.fontawesome.com/0eb65ed4d3.js" crossorigin="anonymous"></script>
        <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css" rel="stylesheet">
        @if (User.Identity.IsAuthenticated)
        {
            <link href="~/archivos/css/sidebar.css" rel="stylesheet" />
        }
    </head>
    <style>

        button[disabled] {
            cursor: not-allowed;
        }

        .rounded {
            border-radius: .55rem !important
        }

        html, body {
            height: 100vh;
        }

        main {
            min-height: 100%;
        }

        .sticky-footer {
            height: 55px;
            margin-top: 50px;
        }
    </style>
    <body id="body-pd" class="body-pd">
        <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top header py-3" id="header">
            @if (User.Identity.IsAuthenticated)
            {
                <button class="btn btn-outline-info text-white header-toggle" id="header-toggle">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item my-3">
                        <a class="nav-link text-white btn btn-outline-success ml-auto" href="@Url.Action("QuienesSomos","Adopciones", new { area=""})">
                            Qui&eacute;nes Somos
                        </a>
                    </li>
                    <li class="nav-item dropdown ml-3 my-3">
                        <button class="nav-link dropdown-toggle btn btn-outline-primary text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-xl fa-user-circle"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="@Url.Action("EditarPerfil","Perfil",new { area="AdministracionCuentas"})">Ver mi Perfil</a>
                            <a class="dropdown-item" href="@Url.Action("ActualizarEmail","Perfil",new { area="AdministracionCuentas"})">Actualizar Email</a>
                            <a class="dropdown-item" href="@Url.Action("ResetPassword","Perfil",new { area="AdministracionCuentas"})">Resetear Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("LogOut","LoginAccount",new { area=""})">Cerrar Sesi&oacute;n</a>
                        </div>
                    </li>
                </ul>
            }
            else
            {
                <a class="nav-link text-white btn btn-outline-success ml-auto mr-3" href="@Url.Action("QuienesSomos","Adopciones", new { area=""})">
                    Qui&eacute;nes Somos
                </a>
                <a class="nav-link text-white btn btn-outline-primary" href="@Url.Action("Login","LoginAccount", new { area=""})">
                    Iniciar Sesi&oacute;n
                </a>
            }
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="l-navbar bg-dark py-5 mostrar" id="nav-bar">
                <nav class="nav my-5">
                    <div class="nav_list">
                        <a href="@Url.Action("Inicio","Adopciones",new { area=""})" class="nav_link active text-decoration-none"><i class='fas fa-home nav_icon'></i><span class="nav_name">Inicio</span></a>
                        @if (User.IsInRole("SuperAdministrador"))
                        {
                            <a href="@Url.Action("Dashboard","Dashboard",new { area="AdministracionCuentas"})" class="nav_link text-decoration-none"><i class='far fa-clipboard nav_icon'></i><span class="nav_name">Dashboard</span></a>
                        }
                        @if (User.IsInRole("SuperAdministrador") || User.IsInRole("Administrador"))
                        {
                            <a class="nav_link text-decoration-none" href="@Url.Action("Lista","Denuncia",new { area="AdministracionMascotas"})">
                                <i class="fas fa-balance-scale-right nav_icon"></i>
                                <span class="nav_name">Admin. Denuncias</span>
                            </a>
                            <a class="nav_link text-decoration-none" href="@Url.Action("Lista","Mascota",new { area="AdministracionMascotas"})">
                                <i class="fas fa-dog nav_icon"></i>
                                <span class="nav_name">Admin. Mascotas</span>
                            </a>
                            <a href="@Url.Action("Lista","Adopcion",new { area="AdministracionAdopciones"})" class="nav_link text-decoration-none">
                                <i class='fas fa-pen-alt nav_icon'></i>
                                <span class="nav_name">Admin. Adopciones</span>
                            </a>
                            <a href="@Url.Action("Lista","Seguimiento",new { area="AdministracionSeguimientos"})" class="nav_link text-decoration-none">
                                <i class='fas fa-search-location nav_icon'></i>
                                <span class="nav_name">Admin. Seguimientos</span>
                            </a>
                        }
                        @if (User.IsInRole("SuperAdministrador"))
                        {
                            <a href="@Url.Action("ListaUsuarios","Cuenta",new { area="AdministracionCuentas"})" class="nav_link text-decoration-none">
                                <i class='fas fa-user-circle nav_icon'></i>
                                <span class="nav_name">Admin. Usuarios</span>
                            </a>
                        }
                        @if (User.IsInRole("Voluntario"))
                        {
                            <a href="@Url.Action("Lista","SeguimientoAsignado",new { area="AdministracionSeguimientos"})" class="nav_link text-decoration-none">
                                <i class='fas fa-thumbtack nav_icon'></i>
                                <span class="nav_name">Seg. Asignados</span>
                            </a>
                        }
                        @if (User.IsInRole("SuperAdministrador") || User.IsInRole("Administrador"))
                        {
                            <a class="nav_link dropdown text-decoration-none" id="reportesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-chart-area nav_icon"></i>
                                <span>Reportes</span>
                            </a>
                            <div class="dropdown-menu m-0" aria-labelledby="reportesDropdown">
                                <a class="dropdown-item" href="@Url.Action("Adopciones","Graficas",new { area="AdministracionDatos"})">Reportes de Adopciones</a>
                                <a class="dropdown-item" href="@Url.Action("Mascotas","Graficas",new { area="AdministracionDatos"})">Reportes de Mascotas</a>
                                <a class="dropdown-item" href="@Url.Action("ReporteSeguimientos","Graficas",new { area="AdministracionDatos"})">Reportes de Seguimientos</a>
                            </div>
                        }
                    </div>
                </nav>
            </div>
        }
        <main role="main">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </main>
        <footer class="sticky-footer mx-auto">
            <div class="container">
                <hr>
                <div class="copyright text-center">
                    <span class="lead">Copyright © S.P.A.T. 2021</span>
                </div>
            </div>
        </footer>
        <!--Modal Popup-->
        <div>
            <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <a class="scroll-to-top rounded" href="#body-pd">
                <i class="fas fa-angle-up"></i>
            </a>
            <script src="~/archivos/js/jquery.easing.min.js"></script>
            <script src="~/archivos/js/sidebar.js"></script>
        }
        <script src="~/archivos/js/crud.js"></script>
    </body>
</html5>