@model IEnumerable<User>
@{ int id = 1;}
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
<div class="d-flex justify-content-between my-3">
    <button type="button" data-toggle="modal" onclick="showInPopup('@Url.Action("CreateUsuario","Cuenta", new { area="AdministracionCuentas"})', 'Agregar Usuario');" class="btn btn-primary">
        <i class="fas fa-plus-square fa-lg mr-2"></i>Agregar Usuario
    </button>
    <button onclick="location.href='@Url.Action("ExcelUsuario", "Cuenta", new { area="AdministracionCuentas"})'" type="button" class="btn btn-success">
        <i class="fas fa-file-csv fa-lg mr-2"></i>Excel Usuarios
    </button>
    <button type="button" class="btn btn-danger" onclick="generatePDF()">
        <i class="fas fa-file-pdf fa-lg mr-2"></i>PDF Usuarios
    </button>
</div>
<div class="table-responsive">
    <table id="example" class="table table-bordered table-hover display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Domicilio</th>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Roles</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodyCuentas">
            @foreach (var item in Model)
            {
                @if (!item.Roles.Contains("SuperAdministrador"))
                {
                    <tr>
                        <td>@(id++)</td>
                        <td>@item.Persona.Nombres @item.Persona.Apellidos</td>
                        <td>@item.Persona.Domicilio</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.Persona.FechaNacimiento.ToShortDateString()</td>
                        <td>@item.Persona.Edad a&ntilde;os</td>
                        <td>
                            @if (item.Roles == null)
                            {
                                <p class="text-center">No tiene roles asignados.</p>
                            }
                            else
                            {
                                @(string.Join(", ", item.Roles));
                            }
                        </td>
                        <td>
                            @if (item.Estado.Equals("Activo"))
                            {
                                <h5 class="d-flex justify-content-center align-items-center"><span class="badge badge-pill p-2 badge-primary">@item.Estado</span></h5>
                            }
                            else
                            {
                                <h5><span class="badge badge-pill p-2 badge-danger">@item.Estado</span></h5>
                            }
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                @if (item.Roles.Contains("SuperAdministrador"))
                                {
                                    <button type="button" class="btn btn-primary" disabled><i class="fa fa-wrench" aria-hidden="true"></i></button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Asignar roles"
                                            onclick="showInPopup('@Url.Action("AsignarRoles","Cuenta", new {id=item.Id, roles=item.Roles, area="AdministracionCuentas" })', 'Asignar Roles');">
                                        <span data-toggle="modal"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                                    </button>
                                }
                                <form asp-action="CambiarEstado" asp-route-idUser="@item.Id" onsubmit="return ChangeEstado(this);">
                                    @if (item.Estado.Equals("Activo"))
                                    {
                                        <button type="submit" class="btn btn-light border border-light" data-toggle="tooltip" data-placement="top" title="Cambiar a inactivo"><i class="fa fa-toggle-on fa-xl" aria-hidden="true"></i></button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-light border border-light" data-toggle="tooltip" data-placement="top" title="Cambiar a activo"><i class="fa fa-toggle-off fa-xl" aria-hidden="true"></i></button>
                                    }
                                </form>
                                <form asp-action="DeleteUsuario" asp-route-idUser="@item.Id" onsubmit="return EliminarUsuario(this);">
                                    <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar registro"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Domicilio</th>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Roles</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
    });
    $("button").click(function () {
        $("[data-toggle='tooltip']").tooltip('hide');
    });
    function generatePDF() {
        const doc = new jsPDF('l', 'mm', [350, 200])
        doc.autoTable({
            head: [['Id', 'Email', 'Username', 'Nombres', 'Apellidos', 'Domicilio', 'Numero de Celular','Roles','Fecha Nacimiento','Estado','Sexo']],
            body: [
                @foreach (var item in Model)
                {
                    <text>
                ['@item.Id', '@item.Email', '@item.UserName', '@item.Persona.Nombres', '@item.Persona.Apellidos', '@item.Persona.Domicilio', '@item.Persona.Telefono', '@String.Join(',',item.Roles)', '@item.Persona.FechaNacimiento.ToShortDateString()',
                    '@item.Estado', '@item.Persona.Genero'],
            </text>
                }
            ],
            columnStyles: {
                6: { cellWidth: 30 },
                7: { cellWidth: 50 },
                8: { cellWidth: 30 }
            },
            theme: 'grid',
            styles: {
                font: 'times',
                halign: 'center',
                valign: 'middle'
            }
        });
        window.open(URL.createObjectURL(doc.output("blob")));
    }
    var _0x52e7 = ['POST', '8033JTJYoy', 'ajax', 'Último', 'Aceptar', 'action', '412464vgfvIo', '/Error/', 'then', '325988JXxKzS', '1FbGAQG', '#3085d6', '270650jzUuos', '#view-all', 'El\x20usuario\x20actual\x20se\x20eliminará\x20por\x20completo\x20y\x20se\x20desasignará\x20de\x20todos\x20los\x20seguimientos\x20actuales.', 'Mostrar\x20_MENU_\x20registros', 'Copiar', 'Mostrando\x20registros\x20del\x200\x20al\x200\x20de\x20un\x20total\x20de\x200\x20registros', 'Mostrando\x20registros\x20del\x20_START_\x20al\x20_END_\x20de\x20un\x20total\x20de\x20_TOTAL_\x20registros', 'location', '(filtrado\x20de\x20un\x20total\x20de\x20_MAX_\x20registros)', '1wMSvOW', 'href', 'value', 'Cargando...', 'status', '103965OTihmt', '¿Estás\x20seguro\x20de\x20eliminar\x20este\x20usuario?', 'Ningún\x20dato\x20disponible\x20en\x20esta\x20tabla\x20=(', 'warning', 'Visibilidad', 'fail', 'isValid', '208006LVGtGy', 'Procesando...', 'Anterior', '14447gRSKvD', '29VJWEML', '#d33', 'html', '49VkEvmo', 'Cancelar']; function _0x1aab(_0x5522be, _0x33fd69) { return _0x1aab = function (_0x52e7d5, _0x1aab65) { _0x52e7d5 = _0x52e7d5 - 0x96; var _0x285568 = _0x52e7[_0x52e7d5]; return _0x285568; }, _0x1aab(_0x5522be, _0x33fd69); } var _0x16fbe7 = _0x1aab; (function (_0x3b56ad, _0x12b8bb) { var _0x2d484f = _0x1aab; while (!![]) { try { var _0x2b4764 = -parseInt(_0x2d484f(0xae)) * parseInt(_0x2d484f(0x97)) + -parseInt(_0x2d484f(0xb2)) * parseInt(_0x2d484f(0xb1)) + parseInt(_0x2d484f(0xbd)) + parseInt(_0x2d484f(0xa7)) + parseInt(_0x2d484f(0x99)) + -parseInt(_0x2d484f(0xb5)) * -parseInt(_0x2d484f(0xb8)) + -parseInt(_0x2d484f(0x96)) * parseInt(_0x2d484f(0xa2)); if (_0x2b4764 === _0x12b8bb) break; else _0x3b56ad['push'](_0x3b56ad['shift']()); } catch (_0x5083a) { _0x3b56ad['push'](_0x3b56ad['shift']()); } } }(_0x52e7, 0x3799b), $('#example')['DataTable']({ 'processing': !![], 'language': { 'sProcessing': _0x16fbe7(0xaf), 'sLengthMenu': _0x16fbe7(0x9c), 'sZeroRecords': 'No\x20se\x20encontraron\x20resultados', 'sEmptyTable': _0x16fbe7(0xa9), 'sInfo': _0x16fbe7(0x9f), 'sInfoEmpty': _0x16fbe7(0x9e), 'sInfoFiltered': _0x16fbe7(0xa1), 'sInfoPostFix': '', 'sSearch': 'Buscar:', 'sUrl': '', 'sInfoThousands': ',', 'sLoadingRecords': _0x16fbe7(0xa5), 'oPaginate': { 'sFirst': 'Primero', 'sLast': _0x16fbe7(0xba), 'sNext': 'Siguiente', 'sPrevious': _0x16fbe7(0xb0) }, 'oAria': { 'sSortAscending': ':\x20Activar\x20para\x20ordenar\x20la\x20columna\x20de\x20manera\x20ascendente', 'sSortDescending': ':\x20Activar\x20para\x20ordenar\x20la\x20columna\x20de\x20manera\x20descendente' }, 'buttons': { 'copy': _0x16fbe7(0x9d), 'colvis': _0x16fbe7(0xab) } } }), EliminarUsuario = _0xfd2e7 => { var _0x2d9bb9 = _0x16fbe7; event['preventDefault'](), Swal['fire']({ 'title': _0x2d9bb9(0xa8), 'text': _0x2d9bb9(0x9b), 'icon': _0x2d9bb9(0xaa), 'showCancelButton': !![], 'confirmButtonColor': _0x2d9bb9(0x98), 'cancelButtonColor': _0x2d9bb9(0xb3), 'confirmButtonText': _0x2d9bb9(0xbb), 'cancelButtonText': _0x2d9bb9(0xb6) })[_0x2d9bb9(0xbf)](_0x297bd5 => { var _0x45449e = _0x2d9bb9; if (_0x297bd5[_0x45449e(0xa4)]) return $[_0x45449e(0xb9)]({ 'type': _0x45449e(0xb7), 'url': _0xfd2e7[_0x45449e(0xbc)], 'data': new FormData(_0xfd2e7), 'contentType': ![], 'processData': ![], 'success': function (_0x248695) { var _0x46fe86 = _0x45449e; $(_0x46fe86(0x9a))[_0x46fe86(0xb4)](_0x248695[_0x46fe86(0xb4)]); } })['fail'](function (_0x22c56b, _0x1bab8f, _0x925a02) { var _0x3d7e6a = _0x45449e; window[_0x3d7e6a(0xa0)][_0x3d7e6a(0xa3)] = _0x3d7e6a(0xbe) + _0x22c56b[_0x3d7e6a(0xa6)]; }), ![]; }); }, ChangeEstado = _0x840eb8 => { var _0x304a42 = _0x16fbe7; return $[_0x304a42(0xb9)]({ 'type': _0x304a42(0xb7), 'url': _0x840eb8['action'], 'data': new FormData(_0x840eb8), 'contentType': ![], 'processData': ![], 'success': function (_0x12f5c7) { var _0x4e68e6 = _0x304a42; _0x12f5c7[_0x4e68e6(0xad)] && $('#view-all')[_0x4e68e6(0xb4)](_0x12f5c7[_0x4e68e6(0xb4)]); } })[_0x304a42(0xac)](function (_0x5b3266, _0x370499, _0x5f3cf3) { var _0x4ed7f6 = _0x304a42; window[_0x4ed7f6(0xa0)][_0x4ed7f6(0xa3)] = _0x4ed7f6(0xbe) + _0x5b3266[_0x4ed7f6(0xa6)]; }), ![]; });
</script>